body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 123px;
}
.logo{
    width: 125px;
    height: 125px;
    margin: auto;
}
h1{
    font-weight: 600;
    width: 311px;
    color:#4C545C;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}
.px28{
    font-size: 28px;
    letter-spacing: -0.46px;
    line-height: 35px;
}
.px24{
    font-size: 24px;
    letter-spacing: -0.39px;
    line-height: 30px;
}
.px32{
    font-size: 32px;
    letter-spacing: -0.52px;
    line-height: 40px;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.12px;
    text-align: center;
    width: 311px;
    color: #9EABB2;
}
.firstdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.forbuttons{
     font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.firstbutton{
    background-color: #26BBA4;
    border: none;
    border-radius: 28px;
    width: 311px;
    height: 56px;
    color: #FFFFFF;
}
.secondbutton{
    background-color: #6174FF;
    border: none;
    border-radius: 28px;
    width: 311px;
    height: 56px;
    color: #FFFFFF;
}
.seconddiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 160px;
}
.divtv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.tv{
    width: 312px;
    height: 238px;
    margin-top: 65px;
    margin-bottom: 56px;
}
.little-texts{
    gap: 10px;
}
.little-texts2, .little-texts3{
    margin-top:48px ;
}
.bigtv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 106px;
}
.secondtv{
    width: 311px;
    height: 182px;
    margin-top: 64.73px;
    margin-bottom: 130px;
}
.threedivsinside{
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.threedivs-img{
    margin-top: 56px;
    margin-bottom: 40px;
}
.logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 57px;
    margin-top: 130px;

}
.logos1{
    width: 139px;
}
.logos2{
    width: 121px;
}
.logos3{
    width: 117px;
}
.logos4{
    width: 115px;
}
.logos5{
    width: 112px;
}
.lastdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 170px;
    gap: 16px;
}
footer{
    width: 100%;
    height: 500px;
    margin-top: 170px;
}

.footerslogo{
    width: 55px;
    height: 55px;
    padding-bottom: 44px;
}
.forcenter{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.forspace{
    padding-bottom: 20px;
    text-align: center;
}
.footer3logos{
    display: flex;
    gap: 32px;
    padding-top: 26px;
    align-items: center;
   
}
.footersdiv{
    width: 100%;
    height: 500px;
    background-color: rgba(251, 252, 253, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: 
    #4C545C;
}
@media(min-width:1440px){
    body{
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
    }
    .px32{
        line-height: 57.5px;
        letter-spacing: -0.75px;
        width: 730px;
        font-size: 46px;
    }
    .px28{
        font-size: 36px;
        letter-spacing: -0.59px;
        line-height: 45px; 
        width: 730px;
    }
    .px24{
        font-size: 24px;
        letter-spacing: -0.39px;
        line-height: 30px;  
        width: 350px;
    }
    p{
        width: 730px;
        font-size: 18px;
        letter-spacing: 0.15px;
        line-height: 30px;  
        text-align: center;
        color: #9EABB2;
    }
    .firstdivp{
        font-size: 20px;
    }
    .forbuttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .firstbutton, .secondbutton{
        width: 227px;
    }
    .firstbutton:hover{
        cursor: pointer;
    }
    .secondbutton:hover{
        cursor: pointer;
    }
    .tv{
        width: 752px;
        height: 572px;
        position: relative;
        right: 380px;
    }
    .fordesktop{
        position: relative;
        bottom: 586px;
        left: 275px;
    }
    .px24{
        text-align: left;
    }
    .p1{
        line-height: 30px;
        text-align: left;
        letter-spacing: 0.12px;
        width: 350px;
        font-size: 16px;
    }
    .bigtv{
        margin-top: 0px;
    }
    .secondtv{
        width: 812px;
        height: 475px;
        margin-bottom: 16px;
    }
    .threedivs{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .threedivsp{
        width: 350px;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.12px;
        color: rgba(158, 171, 178, 1);

    }
    .px24{
        text-align: center;
    }
    .logos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap:0px;
    }
    .logos1{
        width: 165px;
    }
    .logos2{
        width: 160px;
    }
    .logos3{
        width: 140px;
    }
    .logos4{
        width: 140px;
    }
    .logos5{
        width: 140px;
    }
    footer{
        height: 200px;
    }
    .footerslogo{
        padding-bottom: 28px;
    }
    .footersdiv{
        display: flex;
        flex-direction: row;
        height: 200px;
    }
    .footer3logos{
        display: flex;
        gap: 25px;
        padding-inline-start: 518px;
    }
    h2:hover{
       gap:20px; 
       color:
       rgba(38, 187, 164, 1);
       cursor: pointer;
    }

    .forcenter{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: 60px;
        padding-bottom: 20px;
        text-align: left;
       
    }
    .forspace{
        padding-bottom: 16px;
        text-align: left;

    }
    .forspace2{
        padding-bottom: 28px;
    }
    .forhover path:hover {
        cursor: pointer;
        fill:#26BBA4;
    }
    
}